<ion-modal-view>
   <ion-content>
      <img src="img/CrearCuenta.png" class="logoCuenta">
      <br><br>
      <label style="color:#fff;">Nombre</label><br>
      <input type="text"
             class="text input">
      <br>
      
      <label style="color:#fff;">Correo electrónico</label><br>
      <input type="email"
             class="email input">
      <br>
      <label style="color:#fff;">Contraseña</label><br>
      <input type="password"
             class="pass input">
      
      <br>
      <label style="color:#fff;">Repetir contraseña</label><br>
      <input type="password"
             class="passr input">
      
      <br>
      
      <p class="gender"><img src="img/CrearCuenta_5.png"> Género:
        <input type="radio" name="gender" value="mascuino"> M &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" name="gender" value="femenino"> F<br><br>
      </p>
      
      <a href="#" class="linkitem">
          <button class="button button-index">
           Crear cuenta
          </button>
      </a>
      <br>
      <a href="index.html" class="linkitem">
          <button class="button button-cuenta button-clear button-light">
            Cancelar
          </button>
      </a>
  </ion-content>
</ion-modal-view>