<ion-modal-view>
<ion-content>
  <ion-header-bar>
   <img src="img/CupomaniaLogo.png" class="logo"><br><br>
  </ion-header-bar>
   <label style="color:#fff;">Correo electrónico</label><br>
      <input type="email"
             class="email input">
      <br>
      <label style="color:#fff;">Contraseña</label><br>
      <input type="password"
             class="pass input">
      
      <br>
      <a href="principal.html" class="linkitem">
          <button class="button button-index">
           Iniciar sesión
          </button>
      </a>
      <br>
       <a href="#" class="linkitem">
          <button class="button button-face icon ion-social-facebook">
            &nbsp;&nbsp;&nbsp;&nbsp;Ingresar con Facebook
          </button>
      </a>
      <br>
      <a href="cuenta.html" class="linkitem">
          <button class="button button-cuenta button-clear button-light">
            Crear cuenta
          </button>
      </a>
        <a href="olvide.html" class="linkitem">
          <button class="button button-cuenta button-clear button-light" style="font-size:12px;">
            Olvidé mi contraseña
          </button>
      </a>
      <br>
</ion-content>
</ion-modal-view>