<ion-view view-title="CoupOnTheGo" ng-controller="AppCtrl">
  <ion-content  style="background-image: url(img/fondo-{{preferencias_genero}}.png)">
    <ion-list>
    <br><br>
    <img src="img/banner-{{preferencias_genero}}.png" style="width:420px; heigh:400px;" class="bannerGril">
    <ul class="list" style="margin-top:-10px;">
        <a href="nuevocupon.html" class="linkitem">
            <li class="item menuhome">
                <img src="img/CouponButton_1.png" class="couponbutton">Nuevo Cupón
            </li>
        </a>
        <a href="nuevatarjeta.html" class="linkitem">
            <li class="item menuhome">
                <img src="img/CouponButton_1.png" class="couponbutton">Nueva tarjeta
            </li>
        </a>
        
        <a href="articulos.html" class="linkitem">
            <li class="item menuhome">
                <img src="img/CouponButton_2.png" class="couponbutton">Mis Productos
            </li>
        </a>
        
        <a href="miscupones.html">
            <li class="item menuhome">
                <img src="img/CouponButton_3.png" class="couponbutton">Mis Cupones
            </li>
        </a>
        
        <a href="mislistascompras.html">
            <li class="item menuhome">
                 <img src="img/CouponButton_4.png" class="couponbutton">Mis listas de compras
            </li>
        </a>
    </ul>
    </ion-list>
  </ion-content>
</ion-view>
