<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

	 <!--librerias para la conexión con facebook-->
    <script src="js/openfb.js"></script>
    <script src="js/ngopenfb.js"></script>
	
	
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </head>

  <body ng-app="starter" ng-controller="AppCtrl">
      <div class="bar bar-header menuhome">
        <a class="button icon-left ion-ios-arrow-thin-left button-clear" style="color:#fff;" href="principal.html"></a>
        <h1 class="title" style="color:#FFF;">Mi lista de compras</h1>
      </div>
       <div class="bar bar-subheader menuhome row" align="center">
        <a class="col" href="" ng-click="ordenarListaPor('name')">
          <span >
            <img src="img/Listas_top_1.png" class="iconofooter icono1"> 
          </span>
        </a>

        <a class="col" href="" ng-click="ordenarListaPor('due_date')">
          <span >
            <img src="img/Cupones_top_3.png" class="iconofooter icono2">
          </span>
        </a>
        
        <a class="col" href="" ng-click="ordenarListaPor('discount')">
		
		<span><h4 style="color:#FFF;">- {{ahorroTotal() | currency : preferencias_money}}<h4></span>
          <span >
            <img src="img/Listas_top_2.png" class="iconofooter icono3">
          </span>
        </a>

          
        </div>

       <ion-pane>
       <ion-content style="margin-top: 90px">
         
          <div class="row">
            <span class="col">Nombre</span>
            <!--<span class="col">Precio</span>-->
            <span class="col">Descuento</span>
            <span class="col">Precio Final</span>
            <span class="col">Fecha</span>
          </div>
          <ion-list>
                <!--<a href="infocupon.html">-->
                <ion-item class="row" ng-repeat="lista in lista_compras | orderBy : ordenLista" ng-click="detallesLista($index)"
                >
                  <span class="col">{{lista.name | limitTo:13}}</span>
                  <!--<div class="col col-19">{{lista.price}}</div>-->
                  <span class="col red">-{{lista.discount | currency : preferencias_money}}</span>
                  <span class="col ">{{lista.price_final | currency : preferencias_money}}</span>
                  <span class="col ">{{lista.due_date | date: shortDate}}</span>
                </ion-item>
          </ion-list>
          
        </ion-content>
      </ion-pane>
          
      <div class="bar bar-footer bar-orange row">
          <div class="col col-50">
            <a href="cupon.html">
              <button class="button button-clear">
                <img src="img/Listas_bottom_1.png" class="iconofooter">
              </button>
            </a>
          </div>

          <div class="col col-40">
            <a href="mislistascompras.html">
              <button class="button button-clear">
                <img src="img/Listas_bottom_2.png" class="iconofooter">
              </button>
            </a>
          </div>

          
		  
     </div>
  </body>
</html>
